@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
  @apply h-full overflow-hidden;
}

/* rocket theme */
@font-face {
  font-family: 'Space Grotesk';
  src: url('/fonts/SpaceGrotesk.ttf');
  font-display: swap;
}

.pdf-wrapper .parent,
.pdf-wrapper .control {
  margin: 0 !important;
}

.pdf-wrapper #topBtn {
  display: none;
}

.pdf-wrapper.thumbnail canvas {
  height: 20rem;
}

.list-item-sign-out button {
  width: 100%;
}
